* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 320px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: 3px solid #e41e17;
}

.card h2 {
    background:rgb(223, 23, 9);
    color: #470ce9;
    text-align: center;
    padding: 15px;
    font-size: 22px;
    letter-spacing: 1px;
}

.photo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.photo img {
    width: 120px;
    height: 140px;
    border-radius: 10px;
    border: 3px solid #ce1f08;
    object-fit: cover;
}

.info {
    padding: 20px;
}

.row {
    display: flex;
    margin-bottom: 15px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
}

.label {
    width: 100px;
    font-weight: bold;
    color: #333;
}

.value {
    color: #f1540b;
    flex: 1;
}

.card::after {
    content: "Anna University";
    display: block;
    background: #df1708;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}